/* target this style to all elements in html*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* target body element in html*/
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
}

/* target header element in html*/

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    color: blue;
    height: 60px;
    font-size: 2vw;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Courier New', Courier, monospace;
}

/*target high score button*/
.highscorebtn {
    border-radius: 10px;
    background-color: white;
    text-decoration: none;
    border: 0;
    outline: 0;
    color: blue;
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
}

/*target background color of highscore button in order to highlight orange whenever a user hovers mouse arrow over element*/
.highscorebtn:hover {
    background-color: orange;
}
