* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* target this style to all elements in html*/
}

body {
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    /* target body element in html*/
}

header {
    color: blue;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2vw;
    height: 60px;
    justify-content: space-between;
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    /* target header element in html*/
}

.highscorebtn {
    background-color: white;
    border-radius: 10px;
    border: 0;
    color: blue;
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    outline: 0;
    text-decoration: none;
    /*target high score button*/
}

.highscorebtn:hover {
    background-color: orange;
    /*target background color of highscore button in order to highlight orange whenever a user hovers mouse arrow over element*/
}

.btn {
    background-color:blue;
    border-radius: 12px;
    border: 0;
    color: white;
    font-family:'Courier New', Courier, monospace;
    font-size: 10px;
    outline: 0;
    /*target button element*/
}

#quizsection {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family:'Courier New', Courier, monospace;
    font-size: 22px;
    justify-content: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 50px;
    /*target quiz section in my html*/
}

#quiz {
    display: grid;
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    gap: 10px 10px;
    grid-template-columns: repeat(2, 1fr) 2fr 1fr;
    grid-template-rows: repeat(10, 1fr);
    /*target quiz element in html*/
}

#quizquestion {
    align-self: baseline;
    font-size: 30px;
    grid-column: 2 / span 2;
    grid-row: 1 / span 5;
    place-self: center;
    text-align: center;
    /*target quiz question*/
}

#users-final-score {
    font-size: 15px;
    grid-column: 1 / span 2;
    grid-row: 6 / span 1;
    /*target users final score*/
}

#insertname {
    font-size: 15px;
    grid-column: 1 / span 1;
    grid-row: 7 / span 1;
    /*target insert name section*/
}

#high-score-name {
    font-size: 15px;
    grid-column: 2 / span 1;
    grid-row: 7 / span 1;
    resize: none;
    /*target high score name element in html*/
}

#submithighscore {
    background-color: orange;
    border-radius: 10%;
    border: 0;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    grid-column: 3 / span 1;
    grid-row: 7 / span 1;
    outline: 0;
    padding: 10px 10px 10px 10px;
    /*target element that submits high score*/
}

#startquizbutton {
    background-color: blue;
    border-radius: 10%;
    border: 0;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    grid-column: 2 / span 2;
    grid-row: 5 / span 1;
    outline: 0;
    padding: 10px 10px 10px 10px;
    /*target element that starts quiz*/
}

#startquizbutton:hover {
    background-color: orange;
    /*target element to high quiz button when user hovers mouse over it*/
}


#option1 {
    background-color: blue;
    border-radius: 10%;
    border: 0;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    grid-column: 1 / span 2;
    grid-row: 6 / span 1;
    margin-left: 25px;
    outline: 0;
    padding: 10px 10px 10px 10px;
    /*target option 1 selection on quiz*/
}

#option1:hover {
    background-color: orange;
    /*target element option 1 to highlight orange whene user hovers mouse over it*/
}

#option2 {
    background-color: blue;
    border-radius: 10%;
    border: 0;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    grid-column: 1 / span 2;
    grid-row: 7 / span 1;
    margin-left: 25px;
    outline: 0;
    padding: 10px 10px 10px 10px;
    /*target option 2 selection on quiz*/
}


#option2:hover {
    background-color: orange;
    /*target element option 2 to highlight orange whene user hovers mouse over it*/
}

#option3 {
    background-color: blue;
    border-radius: 10%;
    border: 0;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    grid-column: 1 / span 2;
    grid-row: 8 / span 1;
    margin-left: 25px;
    outline: 0;
    padding: 10px 10px 10px 10px;
    /*target option 3 selection on quiz*/
}

#option3:hover {
    background-color: orange;
    /*target element option 3 to highlight orange whene user hovers mouse over it*/
}

#option4 {
    background-color: blue;
    border-radius: 10%;
    border: 0;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    grid-column: 1 / span 2;
    grid-row: 9 / span 1;
    margin-left: 25px;
    outline: 0;
    padding: 10px 10px 10px 10px;
    /*target option 3 selection on quiz*/
}

#option4:hover {
    background-color: orange;
    /*target element option 3 to highlight orange whene user hovers mouse over it*/
}

#answerslist {
    display: grid;
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    gap: 10px 10px;
    grid-template-columns: 4fr;
    grid-template-rows: repeat(2, 1fr);
    /*target answer list*/
}
 
#answers {
    grid-column: 1 / span 4;
    grid-row: 1 / span 2;
    text-align: left;
    /*target answers element from html*/
}

@media screen and (max-width: 980px) {
    
    /*target screen whenever screen size is diifferent*/
    *{
      flex: 1 100%;
  }
}

